body {
    background-color:rgb(108, 156, 156);
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    text-align:center
}

h1{
    color: brown;
    letter-spacing: 10px;
    text-decoration: underline;
}

.main {
    background-color: #a19dab;
    padding: 20px;
    float: left;
    width: 100%; /* The width is 60%, by default */
  }

Table{
    border:1px solid black;
    width:100%;
    background:grey;
}
td{
    border :1px solid black;
    background:wheat;
}
thead{
    background-color: black;
    color:wheat;
    width: 100%;
}

.smartgoals{
    background: rgb(227, 131, 131);
    width:20%;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-left:0px;
    margin-right: auto;
}
#return{
    border :1px solid black; 
}
#tableDiv{
    background: rgb(217, 217, 151);
    padding: 20px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: blue;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid yellow;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
  }
/*comment*/